body {
    background-color: rgb(240, 240, 240);
}

#top {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
}

#main_link:link {
    text-decoration: none;
}

#main_link:visited {
    text-decoration: none;
}

#join_text {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    width: 50%;
    text-align: center;
    transform: translateX(-110px);
}

#main {
    margin: auto;
    margin-bottom: 50px;
    width: 300px;
    text-align: left;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    border-color: rgb(180, 180, 180);
    background-color: rgb(253, 253, 253);
    height: 450px;
}

.input_area {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 60px;
}

input {
    width: 290px;
    height: 100%;
    margin-top: 10px;
    border-color: rgb(180, 180, 180);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding-top: 4px;
    padding-bottom: 4px;
}

input:focus {
    outline: none;
    border-color:black;
}

#submit_btn_area {
    align-content: center;
    margin: 100px 0px 10px 0px;
    height: 40px;
}

#change_btn_area {
    position: absolute;
    margin: 0px 0px 10px 0px;
    height: 40px;
    bottom: -140px;
}

#back_btn {
    margin: 0px 0px 0px 5px;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    background-color: rgb(190, 190, 190);
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(200, 200, 200);
    cursor: pointer;
    width: 145px;
}

#change_email_btn {
    margin: 0px 5px 0px 0px;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    background-color: cadetblue;
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(85, 148, 150);
    cursor: pointer;
    width: 145px;
}

#change_pswd_btn {
    margin: 0px 5px 0px 0px;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    background-color: cadetblue;
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(85, 148, 150);
    cursor: pointer;
    width: 145px;
}

#send_code_btn {
    position: absolute;
    height: 30px;
    float: right;
    transform: translate(-70px, 15px);
    font-size: 12px;
    background-color: rgb(245, 245, 245);
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(167, 167, 167);
    cursor: pointer;
    color: rgb(117, 117, 117);
}

#send_code_btn:hover {
    background-color: rgb(255, 255, 255);
}

#auth_btn {
    position: absolute;
    width: 40px;
    height: 30px;
    float: right;
    transform: translate(-46px, 15px);
    font-size: 12px;
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(167, 167, 167);
    cursor: pointer;
    color: rgb(117, 117, 117);
}

#auth_btn:hover {
    background-color: rgb(255, 255, 255);
}

label {
    font-size: 14px;
    font-weight: bold;
    font-family: 돋움체;
}

.error_msg {
    margin-top: 3px;
    color: orangered;
    font-size: 14px;
}