body {
    background-color: rgb(240, 240, 240);
}

#top {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    text-align: center;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
}

#main_link:link {
    text-decoration: none;
}

#main_link:visited {
    text-decoration: none;
}

#join_text {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    width: 50%;
    text-align: center;
    transform: translateX(-110px);
}

#main {
    margin: auto;
    margin-bottom: 50px;
    width: 300px;
    text-align: left;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    border-color: rgb(180, 180, 180);
    background-color: rgb(253, 253, 253);
}

.profile_label_area {
    margin-top: 10px;
}

.profile_area {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
}

input {
    width: 290px;
    height: 100%;
    margin-top: 10px;
    border-color: rgb(180, 180, 180);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding-top: 4px;
    padding-bottom: 4px;
}

input:focus {
    outline: none;
    border-color:black;
}

#return_btn_area {
    margin: 100px 0px 10px 0px;
    height: 40px;
}

#return_btn {
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: cadetblue;;
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(85, 148, 150);
    cursor: pointer;
}

button {
    width: 100%;
    height: 100%;
}

label {
    font-size: 14px;
    font-weight: bold;
    font-family: 돋움체;
}

#edit_pswd_btn {
    font-size: 14px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    background-color: rgb(245, 245, 245);
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(167, 167, 167);
    cursor: pointer;
    width: 80px;
}

#edit_pswd_btn:hover {
    background-color: rgb(255, 255, 255);
}

#edit_email_btn {
    font-size: 14px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    background-color: rgb(245, 245, 245);
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(167, 167, 167);
    cursor: pointer;
    width: 80px;
    float: right;
}

#to_default_img_btn:hover {
    background-color: rgb(255, 255, 255);
}

#to_default_img_btn {
    transform: translateY(-50px);
    font-size: 14px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    background-color: rgb(245, 245, 245);
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(167, 167, 167);
    cursor: pointer;
    width: 80px;
    float: right;
}

#edit_userimg_btn:hover {
    background-color: rgb(255, 255, 255);
}

#edit_userimg_btn {
    transform: translateY(-50px);
    font-size: 14px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    background-color: rgb(245, 245, 245);
    border: 1px solid;
    border-radius: 4px;
    border-color:rgb(167, 167, 167);
    cursor: pointer;
    width: 80px;
    float: right;
}

#edit_pswd_btn:hover {
    background-color: rgb(255, 255, 255);
}

.sidebar {
    height: 1px;
    width: 100%;
    background-color: rgb(220, 220, 220);
}

.profile_label_area {
    margin-bottom: 10px;
}

label {
    font-size: 15px;
}