html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
}

body[data-theme="brown"], body[data-theme="brown"]  #bottom-area {
    background-color: brown;
}

body[data-theme="cornflowerblue"], body[data-theme="cornflowerblue"]  #bottom-area {
    background-color: cornflowerblue;
}

body[data-theme="forestgreen"], body[data-theme="forestgreen"]  #bottom-area {
    background-color: forestgreen;
}

body[data-theme="darkmagenta"], body[data-theme="darkmagenta"]  #bottom-area {
    background-color: darkmagenta;
}

body[data-theme="darkgray"], body[data-theme="darkgray"]  #bottom-area {
    background-color: darkgray;
}

body[data-theme="slategray"], body[data-theme="slategray"]  #bottom-area {
    background-color: slategray;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: rgb(220, 220, 220);
    z-index: 3;
}

#sidebar.minimal.show {
    display: block;
    position: fixed;
}


#nickname {
    font-weight: 600;
}

#user {
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    margin-bottom: 10px;
}

#user-img-area {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
}

#user-img-area:hover {
    cursor: pointer;
}

#user-info {
    margin-left: 60px;
    height: 100%;
}

#logout-btn {
    margin: 5px;
    position: absolute;
    right: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px;
}

#logout-btn:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

#user-info-btn {
    margin: 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px;
}

#user-info-btn:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

#split-line {
    border-top: 1px solid;
    width: 94%;
    margin: auto;
    color: rgb(190, 190, 190);
}

.categories-list {
    padding-left: 7px;
    padding-right: 7px;
}

.category {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.category:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

.category-name {
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 2px;
    list-style: none;
    padding: 10px 5px 10px 5px;
    border-radius: 3px;
    border-style: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    float: left;
    vertical-align: middle;
}

.category-title {
    display: block;
    margin-top: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
    font: 30px bold;
    padding: 7px;
}

.personal-category .category-title-text:hover {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.3);
}

#content {
    margin-left: 230px;
}

#top{ 
    color: white;
}

li.task-container {
    position: relative;
    flex-wrap: wrap;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 12px 0px 12px 0px;
    border: solid 1px;
    background-color: rgba(250, 250, 250, 0.9);
    border-color: gray;
    border-radius: 5px;
    list-style: none;
    min-width: 300px;
    min-height: 30px;
}

li.task-container:hover {
    background-color: white;
}

ul.task-lists {
    position: inherit;
    padding: 0;
    margin-top: 5px;
}

a#username, a#email{
    color: black;
    width: 100%;
    display: inline-block;
    font-weight: 800;
    text-rendering: auto;
}

#completed-title {
    display: inline-block;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    font-size: 16px;
    color: black;
    top: -50%;
    height: 100%;
    transform: translateY(50%);

}

.task-text {
    white-space: normal;
    word-break: break-all;
}

.task-text-wrap {
    margin-left: 50px;
    margin-right: 90px;
    margin-top: 3px;
}

.task-text.completed {
    text-decoration: line-through;
}

.toggle-completed-button {
    position: absolute;
    width: 28px;
    height: 28px;
    border: 3px solid rgb(140, 140, 140);
    border-radius: 50%;
    margin-left: 10px;
    padding: 0px;
}

.fa-sharp.fa-regular.fa-check {
    opacity: 0;
    z-index: -5;
    color: white;
    font-size: 20px;
}

.toggle-completed-button:hover[value='0'] .fa-sharp.fa-regular.fa-check {
    opacity: 100;
    color: rgb(140, 140, 140);
    display: inline-block;
}

.toggle-completed-button[value='1'] {
    background-color:cornflowerblue;
    border: 3px solid cornflowerblue;
}

.toggle-completed-button[value='1'] .fa-sharp.fa-regular.fa-check {
    opacity: 100;
}

.todo-content {
    position: relative;
    margin: auto;
    height: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.content-edit-btn {
    position: absolute;
    right: 5px;
    top: 10px;
    transform: translateY(-50%);
}

#tasks {
    display: none;
    margin-top: 30px;
    padding-bottom: 100px;
}

.sort-order-contianer.active + #tasks {
    margin-top: 5px;
}

.complated-tasks-btn:has(~ .completed-ul:empty) {
    display: none;
}

#post-todo {
    height: 54px;
    width: 100%;
    border: solid .1em;
    background-color: rgba(250, 250, 250, 255);
    border-color: gray;
    border-radius: 0.5em;
    list-style: none;
    opacity: 90%;
    min-width: 300px;
}

#post-todo:hover {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 255);
}

#post-task-btn {
    display: none;
    position: relative;    
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

#post-task-btn + label {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 40px;
}

#post-task-btn + label::after {
    content: "+";
    position: absolute;
    height: 45px;
    width: 45px;
    color: rgb(140, 140, 140);
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

#post-task-btn + label:hover::after {
    content: "+";
    color: black;
    font-size: 35px;
    cursor: pointer;
}

#post-task-msg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    color: black;
    font-size: 15px;
    outline: none;
}

#create-category {
    position: absolute;
    bottom: 0;
    height: 54px;
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    list-style: none;
}

#create-category-button:hover {
    background-color: whitesmoke;
}

#create-category-button {
    display: none;
    position: relative;    
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

#create-category-button + label {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 40px;
}

#create-category-button + label::after {
    content: "+";
    position: absolute;
    height: 45px;
    width: 45px;
    color: black;
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

#create-category-button + label:hover::after {
    content: "+";
    color:darkgray;
    font-size: 35px;
    cursor: pointer;
}

#create-category-name {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    color: black;
    font-size: 15px;
    outline: none;
}

.toggle-impotrance-button {
    position: absolute;
    top: 12px;
    right: 5px;
}

.deadline {
    position: absolute;
    right: 100px;
    transform: scale(0);
}

#deadline-btn:hover {
    opacity: 100%;
}

.incomplete-deadline-text +  {
    color:red;
    display: inline;
    width: auto;
    margin-top: 5px;
    margin-left: 2px;
    font-size: 15px;
}

.complete-deadline-text-wrap {
    color:gray;
    display: inline;
    width: auto;
    margin-top: 5px;
    margin-left: 2px;
    font-size: 15px;
}

#incomplete-calendar-icon {
    color:red;
}

#complete-calendar-icon {
    color:gray;
}

button[name="put-btn"] {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    margin-left: 2px;
    margin-right: 2px;
    background-color: whitesmoke;
    height: 30px;
    width: 40px;
    border: 0px;
    border-radius: 5px;

}

button[name="delete-btn"] {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    margin-left: 2px;
    margin-right: 2px;
    background-color: whitesmoke;
    height: 30px;
    width: 40px;
    border: 0px;
    border-radius: 5px;
}

button[name="delete-btn"]:hover {
    background-color: rgb(255, 255, 255);
}

button[name="put-btn"]:hover {
    background-color: rgb(255, 255, 255);
}

#completed-title-area {
    opacity: 80%;
    width: 100px;
    height: 20px;
    padding: 5px 0px 5px 0px;
    border: solid 1px;
    background-color: rgba(250, 250, 250, 255);
    border-color: gray;
    border-radius: 0.5em;
    list-style: none;
}

#completed-title-area:hover {
    opacity: 100%;
}

#completed-title {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#search-tasks-area {
    margin-left: 10px;
    margin-right: 10px;
}

#search-text {
    padding: 5px;
    font-size: 14px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    background: rgb(240, 240, 240);
    outline: none;
    padding-left: 10px;

}

#search-text:hover {
    background: rgb(230, 230, 230);
}

#search-text:focus {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(20, 20, 20);
}

#search-btn {
    position: absolute;
    right: 5px;
    width: 25px;
    height: 25px;
    background: rgba(153, 205, 50, 0);
    color: rgb(156, 156, 156);
    font-size: 17px;
    border: none;
    border-left: none;
    border-radius: 5px;
    cursor: pointer;
    right: 10px;
    border-radius: 8px;
    padding: 1px;
}

#search-btn:hover {
    background: rgb(230, 230, 230);
}

.category-icon-area {
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
}

.category-icon-area:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}

#trash-icon {
    font-size: 25px;
    color: white;
}

#edit-icon {
    font-size: 25px;
    color: white;
}

.category-name {
    color:black;
    text-decoration: none;
}

.category-name:visited {
    color: black;
    text-decoration: none;
}

#context-menu {
    position: absolute;
    background-color: whitesmoke;
    right: 0;
    height: 100%;
    width: 200px;
    z-index: 1;
}

#bottom-area {
    display: none;
    padding-top: 10px;
    height: 90px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    min-width: 400px;
    opacity: 94%;
    background-color: cornflowerblue;
    backdrop-filter: blur(4px);
}

.tasks-count {
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    padding: 1px 6px 1px 6px;
    float: right;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.task-info {
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.incomplete-category-name {
    margin-left: 50px;
}

.task-category-name {
    font-size: 15px;
    color: gray;
}

.show-dropdown-menu-button {
    position: absolute;
    top: 12px;
    right: 45px;
}

.dropdown-menu {
    padding: 1px;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.2);
    width: 200px;
    right: -10px;
    z-index: 3;
    position: absolute;
    background-color: white;
    display: none;
    z-index: 1;
}

.show-dropdown-menu-button.active .dropdown-menu {
    display: grid;
}

.input-deadline {
    position: absolute;
    right: 20px;
    display: none;
}

.additional-information {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 50px;
}

.show-dropdown-menu-button, .toggle-impotrance-button {
    color: rgb(140, 140, 140);
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.show-dropdown-menu-button:hover, .toggle-impotrance-button:hover {
    color:cornflowerblue;
}

.fa-bars, .fa-star-o, .fa-star {
    font-size: 22px;
}

.fa-star.button-icon {
    color: cornflowerblue;
}

.set-deadline-button, .update-text-button, .delete-task-button, .update-category-name-button,
.update-tasks-sort-button, .set-category-theme-button, .delete-category-button {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    float: left;
    height: 40px;
    width: 100%;
}

.update-category-name-button, .delete-category-button {
    display: none;
}

.category-title.personal-category + .category-property-btn .update-category-name-button,
.category-title.personal-category + .category-property-btn .delete-category-button {
    display: block;
}

.fa-calendar.button-icon, .fa-pencil-square-o.button-icon, .fa-trash-o.button-icon {
    color: rgb(140, 140, 140);
    font-size: 22px;
    float: left;
    width: 40px;
}

.button-description {
    display: none;
}

.fa-calendar.text-icon {
    margin-right: 5px;
}

.category.active {
    background-color: rgb(210, 210, 210);
}

.category.tasks-count {
    margin: 7px 5px 7px 0px;
    padding: 3px 8px 3px 8px;
    border: 1px none;
    border-radius: 10px;
    font-size: 14px;
    background-color: rgb(200, 200, 200);
}

.task-lists {
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-lists.hidden  {
    display: none;
}

.completed-tasks-btn {
    background-color: rgb(250, 250, 250);
    padding: 5px 10px 5px 10px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    opacity: 80%;    
}

.completed-tasks-btn:hover {
    opacity: 100%;
}

.fa-light.fa-angle-right {
    font-size: 20px;
    margin-right: 5px;
}

.completed-tasks-count-text {
    margin-left: 5px;
}

 .completed-tasks-btn-container.hidden {
    display: none;
}

.submenu > .button-description {
    display: block;
    float: left;
    font-size: 17px;
}

.split-dot {
    margin-left: 5px;
    margin-right: 5px;
}

.split-dot.hide {
    display: none;
}

.fa.fa-bars.sidebar-btn-icon {
    padding: 7px;
    border-radius: 5px;
}

.sidebar-btn {
    display: none;
}

.sidebar-btn > .fa.fa-bars:hover { 
    background-color: rgba(70, 70, 70, 0.2);
}

#content-blocker {
    display: none;
}

@media screen and (max-width: 750px) {
    #sidebar {
        display: none;
    }

    #sidebar > .sidebar-btn {
        display: flex;
        margin-top: 5px;
        margin-left: 15px;
    }

    #top > .sidebar-btn {
        display: flex;
        margin-top: 15px;
        margin-left: 10px;
    }

    #top > .category-title {
        margin-top: 5px;
    }

    #content {
        margin-left: 30px;
    }

    #sidebar.show {
        display: block;
    }

    #sidebar.show + #content-blocker {
        display: block;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(50, 50, 50, 0.5);
    }
}

.category-property-btn {
    position: absolute;
    right: 80px;
    top: 50px;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
}

.category-property-btn:hover {
    background-color: rgba(250, 250, 250, 0.5);
}

.category-property-btn.hide {
    display: none;
}

.fa.fa-ellipsis-h {
    font-size: 27px;
}

.category.dropdown-menu {
    border: solid 1px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.2);
    width: 260px;
    right: -60px;
    z-index: 3;
    position: absolute;
    background-color: white;
    display: none;
}

.category-property-btn.active .category.dropdown-menu {
    display: grid;
}

.category.dropdown-menu .button-description {
    display: block;
    float: left;
    font-size: 17px;
}

.category.dropdown-menu .button-icon {
    color: rgb(140, 140, 140);
    font-size: 22px;
    float: left;
    width: 40px;
}

.delete-category-button > .fa-trash.button-icon, .fa-trash.button-icon ~ .button-description {
    color: rgb(225, 0, 0);
}

.tasks-sort.dropdown-menu {
    display: none;
    list-style: none;
}

.update-tasks-sort-button.active {
    background-color: rgb(240, 240, 240);
}

.update-tasks-sort-button.active + .tasks-sort.dropdown-menu {
    position: fixed;
    display: grid;
    right: 275px;
}

.tasks-sort-container {
    list-style: none;
}

.dropdown-menu > button {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    float: left;
    height: 40px;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.dropdown-menu  > button:hover, .update-tasks-sort-button:hover {
    background-color: rgb(240, 240, 240);
}

.category-theme-container {

}

.category-theme-text {
    display: block;
    color: black;
    font-size: 17px;
    height: 40px;
}

.category-theme-button-container {
    cursor: default;
    display: flex;
    padding: 1px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 160px;
}

.category-theme-button-container > li {
    list-style: none;
    width: 70px;
    height: 70px;
}

.set-theme-button {
    border: solid 1px;
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0);
    padding: 3px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.set-theme-button:hover {
    border-color: gray;
}

.brown {
    background-color: brown;
}
.cornflowerblue {
    background-color: cornflowerblue;
}
.forestgreen {
    background-color: forestgreen;
}
.darkmagenta {
    background-color: darkmagenta;
}
.darkgray {
    background-color: darkgray;
}
.slategray {
    background-color: slategray;
}

.theme-color {
    display: block;
    width: 100%;
    height: 100%;
}

.set-theme-button.active {
    border: solid 1px;
    border-color: black;
}

.category-theme-text-wrap {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: black;
    font-size: 17px;
    padding-left: 15px;
}

.category-theme-text-wrap:hover {
    cursor: default;
}

.sort-order-contianer {
    display: none;
}

.sort-order-contianer.active {
    margin-top: 30px;
    display: flex;
}

.sort-order-button {
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: rgba(250, 250, 250, 255);
    opacity: 85%;
}

.fa.fa-long-arrow-up, .fa.fa-long-arrow-down {
    margin: 0 4px 0 4px;
    font-size: 17px;
}

.fa.fa-times {
    font-size: 17px;
}

.clear-sort-button {
    margin-left: 2px;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 4px;
    background-color: rgba(250, 250, 250, 255);
    opacity: 85%;
}

.sort-type-text {
    margin: 0 2px 0 2px;
    font-size: 15px;
}

.clear-sort-button:hover, .sort-order-button:hover {
    opacity: 100%;
}

