html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    background-color:cornflowerblue;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: rgb(220, 220, 220);
    z-index: 2;
}

#user {
    margin-top: 20px;
    margin-left: 10px;
    height: 50px;
    margin-bottom: 10px;
}

#user-img-area {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
}

#user-img-area:hover {
    cursor: pointer;
}

#user-info {
    margin-left: 60px;
    height: 100%;
}

#logout-btn {
    margin: 5px;
    position: absolute;
    right: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px;
}

#logout-btn:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

#user-info-btn {
    margin: 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px;
}

#user-info-btn:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

#division-line {
    border-top: 1px solid;
    width: 94%;
    margin: auto;
    color: rgb(190, 190, 190);
}

.categories-list {
    padding-left: 7px;
    padding-right: 7px;
}

.category {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.category:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

.category-name {
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 2px;
    list-style: none;
    padding: 10px 5px 10px 5px;
    border-radius: 3px;
    border-style: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    float: left;
    vertical-align: middle;
}

.category-title {
    display: block;
    margin-top: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
    font: 30px bold;
    padding: 7px;
}

.personal-category:hover .category-title-text {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.3);
}

#content {
    margin-left: 230px;
}

#top{ 
    color: white;
    margin-right: 140px;
}

li.task-container {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 12px 0px 12px 0px;
    border: solid 1px;
    background-color: rgba(250, 250, 250, 0.9);
    border-color: gray;
    border-radius: 5px;
    list-style: none;
    min-width: 300px;
}

li.task-container:hover {
    background-color: white;
}

ul.task-lists {
    position: inherit;
    padding: 0;
    margin-right: 50px;
    margin-top: 5px
}

a#username, a#email{
    color: black;
    width: 100%;
    display: inline-block;
    font-weight: 800;
    text-rendering: auto;
}

#completed-title {
    display: inline-block;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    font-size: 16px;
    color: black;
    top: -50%;
    height: 100%;
    transform: translateY(50%);

}

.task-text {
    white-space: normal;
    word-break: break-all;
    margin-right: 180px;
    margin-left: 10px;
}

.delete-category-button {
    position: absolute;
    top: 25px;
    right: 50px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    border-radius: 7px;
}

.task-text.completed {
    text-decoration: line-through;
}

.toggle-completed-button {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 3px solid rgb(140, 140, 140);
    border-radius: 50%;
    margin-left: 5px;
    padding: 0px;
}

.fa-sharp.fa-regular.fa-check {
    opacity: 0;
    z-index: -5;
    color: white;
    font-size: 20px;
}

.toggle-completed-button:hover[value='0'] .fa-sharp.fa-regular.fa-check {
    opacity: 100;
    color: rgb(140, 140, 140);
    display: inline-block;
}

.toggle-completed-button[value='1'] {
    background-color:cornflowerblue;
    border: 3px solid cornflowerblue;
}

.toggle-completed-button[value='1'] .fa-sharp.fa-regular.fa-check {
    opacity: 100;
}

.todo-content {
    position: relative;
    margin: auto;
    height: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.content-edit-btn {
    position: absolute;
    right: 5px;
    top: 10px;
    transform: translateY(-50%);
}

#tasks {
    margin-top: 50px;
    margin-bottom: 100px;
}

.complated-tasks-btn:has(~ #completed-ul:empty) {
    display: none;
}

:not(.category-title.personal-category) ~ .delete-category-button {
    display: none;
}

#post-todo {
    height: 54px;
    width: 100%;
    border: solid .1em;
    background-color: rgba(250, 250, 250, 255);
    border-color: gray;
    border-radius: 0.5em;
    list-style: none;
    opacity: 90%;
    min-width: 300px;
}

#post-todo:hover {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 255);
}

#post-task-btn {
    display: none;
    position: relative;    
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

#post-task-btn + label {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 40px;
}

#post-task-btn + label::after {
    content: "+";
    position: absolute;
    height: 45px;
    width: 45px;
    color: rgb(140, 140, 140);
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

#post-task-btn + label:hover::after {
    content: "+";
    color: black;
    font-size: 35px;
    cursor: pointer;
}

#post-task-msg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    color: black;
    font-size: 15px;
    outline: none;
}

#create-category {
    position: absolute;
    bottom: 0;
    height: 54px;
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    list-style: none;
}

#create-category-button:hover {
    background-color: whitesmoke;
}

#create-category-button {
    display: none;
    position: relative;    
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

#create-category-button + label {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 40px;
}

#create-category-button + label::after {
    content: "+";
    position: absolute;
    height: 45px;
    width: 45px;
    color: black;
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

#create-category-button + label:hover::after {
    content: "+";
    color:darkgray;
    font-size: 35px;
    cursor: pointer;
}

#create-category-name {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    color: black;
    font-size: 15px;
    outline: none;
}

.toggle-impotrance-button {
    float: right;
}

.deadline {
    position: absolute;
    right: 100px;
    transform: scale(0);
}

#deadline-btn:hover {
    opacity: 100%;
}

.incomplete-deadline-text +  {
    color:red;
    display: inline;
    width: auto;
    margin-top: 5px;
    margin-left: 2px;
    font-size: 15px;
}

.complete-deadline-text {
    color:gray;
    display: inline;
    width: auto;
    margin-top: 5px;
    margin-left: 2px;
    font-size: 15px;
}

#incomplete-calendar-icon {
    color:red;
}

#complete-calendar-icon {
    color:gray;
}

button[name="put-btn"] {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    margin-left: 2px;
    margin-right: 2px;
    background-color: whitesmoke;
    height: 30px;
    width: 40px;
    border: 0px;
    border-radius: 5px;

}

button[name="delete-btn"] {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    margin-left: 2px;
    margin-right: 2px;
    background-color: whitesmoke;
    height: 30px;
    width: 40px;
    border: 0px;
    border-radius: 5px;
}

button[name="delete-btn"]:hover {
    background-color: rgb(255, 255, 255);
}

button[name="put-btn"]:hover {
    background-color: rgb(255, 255, 255);
}

#completed-title-area {
    opacity: 80%;
    width: 100px;
    height: 20px;
    padding: 5px 0px 5px 0px;
    border: solid 1px;
    background-color: rgba(250, 250, 250, 255);
    border-color: gray;
    border-radius: 0.5em;
    list-style: none;
}

#completed-title-area:hover {
    opacity: 100%;
}

#completed-title {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#search-tasks-area {
    margin-left: 10px;
    margin-right: 10px;
}

#search-text {
    padding: 5px;
    font-size: 14px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    background: rgb(240, 240, 240);
    outline: none;
    padding-left: 10px;

}

#search-text:hover {
    background: rgb(230, 230, 230);
}

#search-text:focus {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(20, 20, 20);
}

#search-btn {
    position: absolute;
    right: 5px;
    width: 25px;
    height: 25px;
    background: rgba(153, 205, 50, 0);
    color: rgb(156, 156, 156);
    font-size: 17px;
    border: none;
    border-left: none;
    border-radius: 5px;
    cursor: pointer;
    right: 10px;
    border-radius: 8px;
    padding: 1px;
}

#search-btn:hover {
    background: rgb(230, 230, 230);
}

.category-icon-area {
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
}

.category-icon-area:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}

#trash-icon {
    font-size: 25px;
    color: white;
}

#edit-icon {
    font-size: 25px;
    color: white;
}

.category-name {
    color:black;
    text-decoration: none;
}

.category-name:visited {
    color: black;
    text-decoration: none;
}

#context-menu {
    position: absolute;
    background-color: whitesmoke;
    right: 0;
    height: 100%;
    width: 200px;
    z-index: 1;
}

#bottom-area {
    padding-top: 10px;
    height: 90px;
    position: fixed;
    bottom: 0;
    background-color:cornflowerblue;
    z-index: 1;
    min-width: 400px;
    opacity: 90%;
    backdrop-filter: blur(4px);
}

.tasks-count {
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    padding: 1px 6px 1px 6px;
    float: right;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.task-info {
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.incomplete-category-name {
    margin-left: 50px;
}

.task-category-name {
    font-size: 15px;
    color: gray;
}

.show-dropdown-menu-button {
    float: right;
}

.dropdown-menu {
    border: solid 1px;
    border-radius: 5px;
    border-color: gray;
    width: 200px;
    right: 30px;
    padding-left: 0px;
    z-index: 3;
    position: absolute;
    background-color: white;
    display: none;
}

.show-dropdown-menu-button.active .dropdown-menu {
    display: grid;
}

.input-deadline {
    position: absolute;
    right: 20px;
    display: none;
}

.additional-information {
    margin-left: 45px;
}

.show-dropdown-menu-button, .toggle-impotrance-button {
    color: rgb(140, 140, 140);
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.show-dropdown-menu-button:hover, .toggle-impotrance-button:hover {
    color:cornflowerblue;
}

.fa-bars, .fa-star-o, .fa-star {
    font-size: 22px;
}

.fa-star.button-icon {
    color: cornflowerblue;
}

.set-deadline-button, .update-text-button, .delete-task-button {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    float: left;
    height: 40px;
}

.fa-calendar.button-icon, .fa-pencil-square-o.button-icon, .fa-trash-o.button-icon {
    color: rgb(140, 140, 140);
    font-size: 22px;
    float: left;
    width: 40px;
}

.fa-trash.button-icon {
    color: rgb(50, 50, 50);
    font-size: 35px;
}

.button-description {
    display: none;
}

.set-deadline-button:has(.button-description) .button-description,
.update-text-button:has(.button-description) .button-description,
.delete-task-button:has(.button-description) .button-description {
    display: block;
    float: left;
    font-size: 17px;
}

.fa-calendar.text-icon {
    margin-right: 5px;
}

.category.active {
    background-color: rgb(210, 210, 210);
}