extends layout.pug

block append scripts
    script(type="text/javascript" src="/js/users/edit.js")

block stylesheet
    link(rel="stylesheet" href="/css/users/style.css")

block title
    title=pageTitle + " - 이메일 변경"

block append content
    div(id="content")
        h2(id="content_title") 이메일 변경
        div(id="main")
            div(class="label_wrap")
                label(for="current_email") 기존 이메일
            div(class="input_wrap" id="current_email_input_wrap")
                input(type="email" name="current_email" id="current_email")
            div(class="label_wrap")
                label(for="new_email") 새로운 이메일
            div(class="input_wrap" id="new_email_input_wrap")
                input(type="email" name="new_email" id="new_email" autocomplete=false)
                button(type="button" class="button" id="send_code_btn") 인증코드 발송
            div(class="input_wrap" id="auth_code_row" style="display:none")
                div(class="label_wrap")
                    label(for="auth_code") 인증 번호
                div(class="input_wrap" id="auth_code_input_wrap")
                    input(type="text" name="auth_code" id="auth_code" maxlength=5 autocomplete=false)
                    button(type="button" class="button" id="auth_btn") 인증
            div(class="submit_btn_wrap")
                input(class="submit_btn" type="button" id="submit_email_btn" value="변경하기")
            div(class="back_page_btn_wrap")
                input(class="back_page_btn" type="button" id="back_btn" value="돌아가기")