doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block meta
        block scripts
            script(type="text/javascript" src="/js/users/error.js")
        block stylesheet
        block title
    body
        div(id="top")
            a(id="main_link" href="/")
                h1 To Do
        block content