doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/users/profile.css")
        title=pageTitle + " - 회원 정보"
    body
        div(id="content")  
            div(id="top")
                a(id="main_link" href="/")
                    h1 To Do
            h2(id="join_text") 회원 정보
            div(id="main")
                div(class="row")
                    div(class="profile_label_area")
                        label(for="id") 아이디
                    div(class="profile_area" id="id_area")
                        a(name="id" id="id")=username
                div(class="sidebar")
                div(class="row")
                    div(class="profile_label_area")
                        label(for="pswd1") 비밀번호
                    div(class="profile_area" id="edit_pswd_area")
                        button(type="button" id="edit_pswd_btn" onclick="location.href='/users/profile/edit/password';") 변경
                div(class="sidebar")
                div(class="row")
                    div(class="profile_label_area")
                        label(for="email") 이메일
                    div(class="profile_area" id="edit_email_area")
                        a(type="email" name="email" id="email")=email
                        button(type="button" id="edit_email_btn" onclick="location.href='/users/profile/edit/email';") 변경
                div(class="sidebar")
                div(class="row")
                    div(id="return_btn_area")
                        button(type="button" id="return_btn" onclick="location.href='/';") 확인