extends layout.pug

block scripts
    script(type="text/javascript" src="/js/users/app.js")
    script(type="text/javascript" src="/js/users/error.js")

block stylesheet
    link(rel="stylesheet" href="/css/users/style.css")

block title
    title=pageTitle + " - 비밀번호 재설정"

block append content
            h2(id="content_title") 비밀번호 재설정
            div(id="main")
                form(method="post" onsubmit="event.preventDefault(); changePswd();")
                    div(class="reset_label_wrap")
                        label(for="pswd1") 비밀번호
                    div(class="input_wrap" id="pswd1_input_wrap")
                        input(type="password" name="pswd1" id="pswd1")
                    div(class="reset_label_wrap")
                        label(for="pswd2") 비밀번호 재확인
                    div(class="input_wrap" id="pswd2_input_wrap")
                        input(type="password" name="pswd2" id="pswd2")
                    div(class="submit_btn_wrap")
                        button(class="submit_btn" type="submit" id="reset-password-btn") 변경하기