doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/users/welcome.css")
        title=pageTitle + " - 회원가입 완료"
    body
        div(id="content")  
            div(id="main")
                h1 회원가입이 완료되었습니다.
            div(id="button")
                a(id="main_btn" href="/") 확인
